[package]
name = "template"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
minijinja = "2.9"
derive-new = "0.7"
